<!--from /views/partials/head -->
<meta charset="utf-8">
<title>Simple Lib App</title>
<link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<style>
  .errMsg {
    font-family: monospace;
    color: red;
    font-weight: bold;
  }
</style>
